<div class="container">
  <h2 class="title">ABOUT US</h2>
  <h2 class="title2">WHO AM I?</h2>
  <P class="py-5 text"
    ><strong>Hi I'm Youssef Ebrahim</strong> On her way she met a copy. The copy
    warned the Little Blind Text, that where it came from <br />
    it would have been rewritten a thousand times and everything that was left
    from its origin would be the word "and"<br />
    and the Little Blind Text should turn around and return to its own, safe
    country.<br />
  </P>
  <p class="text">
    Even the all-powerful Pointing has no control about the blind texts it is an
    almost unorthographic life One day however <br />
    a small line of blind text by the name of Lorem Ipsum decided to leave for
    the far World of Grammar.
  </p>
  <div class="d-flex justify-content-around py-3">
    <div class="box shadow-lg p-3 mb-5 bg-body rounded g-2">
      <i class="fa-solid fa-lightbulb fs-2 icon icona"></i>
      <h2 class="fs-5 fw-bold">Graphic Design</h2>
    </div>
    <div class="box box1 shadow-lg p-3 mb-5 bg-body rounded g-2">
      <i class="fa-solid fa-microscope fs-2 icon iconb"></i>
      <h2 class="fs-5 fw-bold">Web Design</h2>
    </div>
    <div class="box box2 shadow-lg p-3 mb-5 bg-body rounded g-2">
      <i class="fa-solid fa-database fs-2 icon iconc"></i>
      <h2 class="fs-5 fw-bold">Software</h2>
    </div>
    <div class="box box3 shadow-lg p-3 mb-5 bg-body rounded g-2">
      <i class="fa-solid fa-mobile-screen-button fs-2 icon icond"></i>
      <h2 class="fs-5 fw-bold">Application</h2>
    </div>
  </div>
  <div class="boxOrange bg-warning w-100 h-25">
    <p class="h1 px-5 py-2">
      I am happy to know you <br />that 300+ projects done sucessfully!
    </p>
    <button class="btn mx-5 border border-secondary">HIRE ME</button>
  </div>
</div>
