<div class="container">
  <h2 class="title">WHAT I DO</h2>
  <h2 class="title2">
    HERE ARE SOME OF MY <br />
    EXPERTISE
  </h2>

  <div class="row d-flex justify-content-around py-1">
    <div class="col-md-4 box shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex1"><i class="icon fa-solid fa-lightbulb"></i></span>
      <h2 class="fs-5 fw-bolder text-center mx-3">Innovative Ideas</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
    <div class="col-md-4 box box2 shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex2"><i class="icon fa-solid fa-database"></i></span>

      <h2 class="fs-5 fw-bolder">Software</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
    <div class="col-md-4 box box 3 shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex1"
        ><i class="icon fa-solid fa-mobile-screen-button"></i
      ></span>

      <h2 class="fs-5 fw-bolder">Application</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
    <div class="col-md-4 box box1 shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex3"><i class="icon fa-solid fa-database"></i></span>

      <h2 class="fs-5 fw-bolder">Graphic Design</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
    <div class="col-md-4 box box3 shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex4"
        ><i class="icon fa-solid fa-mobile-screen-button"></i
      ></span>

      <h2 class="fs-5 fw-bolder">Software</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
    <div class="col-md-4 box box2 shadow-lg px-3 mb-5 bg-body rounded g-5">
      <span class="hex hex2"><i class="icon fa-solid fa-lightbulb"></i></span>

      <h2 class="fs-5 fw-bolder">Application</h2>
      <p class="text-center">
        Separated they live in Bookmarksgrove right at the coast of the
        Semantics
      </p>
    </div>
  </div>
  <div class="boxOrange bg-warning w-100 h-25">
    <p class="h1 px-5 py-2">
      I am happy to know you <br />that 300+ projects done sucessfully!
    </p>
    <button class="btn mx-5 border border-secondary">HIRE ME</button>
  </div>
</div>
