<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="app Logo"
    class="logo"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT43PFrSxUjb7SB22ZVREvoCFUYOB2DuiiExg&s"
  />
  <p class="joe"><span class="fs-5">+</span> JOE</p>
  <div class="spacer"></div>
  <ul class="icons d-flex align-items-center justify-content-center">
    <li>
      <a href=""
        ><i class="fa-solid fa-desktop px-3 fs-4  py-5"></i
      ></a>
    </li>
    <li>
      <a href=""
        ><i class="fa-solid fa-tablet px-3 fs-4  py-5"></i
      ></a>
    </li>
    <li>
      <a href=""
        ><i
          class="fa-solid fa-mobilefa-light fa-mobile-button fs-4 px-3  py-5"
        ></i
      ></a>
    </li>
    <a href=""></a>
    <li class="bg">
      <a href="">
        <i class="fa-solid fa-cart-shopping fs-4 px-3  py-5"></i>
      </a>
    </li>
    <li>
      <a  
        ><i class="fa-solid fa-x fs-5 h1 fw-bold px-4  py-5"></i
      ></a>
    </li>
  </ul>
</div>
